{% extends "base.html" %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<h1 class="mb-4">Пользователи</h1>

<table class="table table-striped table-bordered mt-3 align-middle">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Полное имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td>{{ u.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'user_update' u.pk %}" class="me-2">Изменить</a>
                <a href="{% url 'user_delete' u.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
